<%= form_for form_path, method: form_method, values: {book: } do |form| %>
  <% if false && book && book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "book.author", style: "display: block" %>
    <%= form.text_field "book.author" %>
  </div>

  <div>
    <%= form.label "book.title", style: "display: block" %>
    <%= form.text_field "book.title" %>
  </div>

  <div>
    <% if book %>
      <%= form.submit "Update Book" %>
    <% else %>
      <%= form.submit "Create Book" %>
    <% end %>
  </div>
<% end %>
